table {
    width: 100%;
  }

  .form-control {
    display: block;
    width:100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
  border-color: #fbfcfc;
  width: 10%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  background-color: blueviolet
}
.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.exp-right{
  margin-left: 2%;
}
.exp-right-amount{
  margin-left: 2%;
  width:10%
}

.custom-file {
  width: 20%;
}